/* banner */

.banner img {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
}


/* 内容 */

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 56px;
}

.nav1 {
    margin-left: 296px;
}

.nav1 li {
    float: left;
    width: 200px;
    height: 47px;
    text-align: center;
    border: 1px solid #c92007;
}

.nav1 li a {
    display: block;
    color: #333;
    line-height: 47px;
}

.nav1 li:hover a {
    color: #fff;
    background: #c92007;
}

.container .list1,
.container .list2,
.container .list3 {
    width: 1200px;
    height: 247px;
    border-bottom: 1px dashed #c3c3c3;
}

.container .list1 {
    margin-top: 70px;
}

.container .date {
    width: 388px;
    height: 172px;
    float: left;
    margin-left: 36px;
    margin-top: 36px;
    background: url(img/date.jpg) no-repeat left 14px;
}

.container .date img {
    width: 266px;
    height: 172px;
    float: right;
}

.container .plan {
    width: 750px;
    height: 172px;
    float: right;
    margin-top: 36px;
    text-align: left;
}

.container .plan h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    margin-top: 15px;
}

.container .plan p {
    margin-top: 15px;
    line-height: 22px;
    font-size: 12px;
    color: #666666;
    width: 750px;
    height: 66px;
    border-bottom: 1px solid #c3c3c3;
}

.container .plan a {
    display: block;
    margin-top: 30px;
    width: 70px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #666666;
    font-size: 12px;
    border: 1px solid #848484;
}

.container .plan a:hover {
    background: #c92007;
    color: #fff;
}

.nav2 {
    width: 90px;
    height: 188px;
    margin: 0 auto;
}

.nav2 li {
    float: left;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #dddddd;
    margin-top: 80px;
}

.nav2 .tt a {
    color: #fff;
    font-size: 10px;
    display: block;
    width: 28px;
    height: 28px;
    background: #c92007;
}